.form {
  @include bgImage(5rem, center 2rem, url('https://www.simplr.ai/hubfs/Simplr-December2017/Image/logo.svg'));
  box-shadow: 0px 3px 5px 0px rgba(1, 1, 1, 0.2);
  padding: 5rem 10% 2rem;

  @media only screen and (min-width: 560px) {
    @include block-center();
    background-position: 1rem 1rem;
    padding: 3rem 137px;
    width: 550px;
  }

  @media only screen and (min-width: 2400px) {
    width: 650px;
    padding: 3rem 160px;
  }  
  @media only screen and (min-width: 3800px) {
    width: 800px;
    padding: 3rem 200px;
  }  

  fieldset {
    @include block-center();
    border: none;
  }
  
  legend {
    @include block-center();
    @include fontFixed(1.5rem, $mainColor, 300);
    margin-bottom: 1rem;

    @media only screen and (min-width: 560px) {
      font-size: 1.7rem;
    }
  }
}

.checkBoxDescription {
  display: inline-block;
  padding-left: .5rem ;
  transform: translateY(-3px);
  font-size: calc(10px + 40 * ((100vw - 300px) / (1600 - 300)));

  @media only screen and (min-width: 560px) {
    font-size: .75rem
  }

  a {
    color: $linkColor;
    text-decoration: none;
    border-bottom: 1px solid $linkColor;  

    &:focus {
      @include outline();
    }  
  }
}