.input {
  @include fontFixed(.9rem, black);
  @include input;

  &:focus {
    @include outline;
    background: #fff;
  }

  &[data-valid='false']:not(.checkbox) {
    border: 1px solid green;
    @include outline(red);
  }

  &.checkbox {
    width: auto;
    display: inline-block;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid $labelColor;
    cursor: pointer;

    &:checked {
      @include bgImage('contain', (2px 2px, 0 0), url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.181in" height="0.139in"%3E%3Cpath fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M13.000,1.249 L11.419,-0.002 L5.180,7.255 L1.284,4.257 L0.001,5.790 L5.475,10.002 L13.000,1.249 Z"/%3E%3C/svg%3E'));
      background-color: #4b4b4b;
    }
  }
}

.invalidMsg {
  position: relative;

  p {
    position: absolute;
    left: 0;
    @include fontFixed(.7rem, red);
  }
}

label {
  @include fontFixed(.9rem, $labelColor);
  display: block;
  margin-bottom: .2rem;
  
  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  span {
      @include fontFixed(.6rem, $lightGray);
      @media only screen and (max-width: 374px) {
      font-size: 8px;
    }
  }

  &[data-for='checkbox'] {
    @include fontFixed(.8rem, #000, 700);

    &:last-of-type {
      margin-top: .7rem;
    }
  }
}