* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5%;
  min-width: 320px;
}

html {
  font-size: 16px;

  @media only screen and (min-width: 2400px) {
    font-size: 20px;
  }

  @media only screen and (min-width: 3800px) {
    font-size: 25px;
  }
}

input {
  &:-webkit-autofill {
    box-shadow: 0 0 0 30px $inputBg inset !important;

    &:focus {
      box-shadow: 0 0 0 30px #fff inset !important;
    }
  }
}