:root {
  --mainColor: #44b1df;
  --labelColor: #2b2b2b;
  --lightGray: #6f6f6f;
  --linkColor: #376ba1;
  --inputBorder: rgb(195, 195, 195);
  --inputBg: rgb(242, 242, 242);
}

$mainColor: #44b1df;
$labelColor: #2b2b2b;
$lightGray: #6f6f6f;
$linkColor: #376ba1;
$inputBorder: rgb(195, 195, 195);
$inputBg: rgb(242, 242, 242);
