@mixin font($size: 1rem, $color: yellow, $weight: 400) {
  color: $color;
  font-size: $size;
  font-weight: $weight
}

.input {
  @include font(.9rem, black);
  appearance: none;
  border-radius: 0;
  border: 1px solid var(--inputBorder);
  width: 100%;
  height: 2rem;
  padding: .2rem .5rem;
  background-color: var(--inputBg);

  &:focus {
    outline-color: var(--mainColor);
    outline-style: solid;
    outline-width: 2px;
    background: #fff;
  }

  &[data-valid='false']:not(.checkbox) {
    border: 1px solid red;
  }

  &.checkbox {
    width: auto;
    display: inline-block;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--labelColor);
    cursor: pointer;

    &:checked {
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.181in" height="0.139in"%3E%3Cpath fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M13.000,1.249 L11.419,-0.002 L5.180,7.255 L1.284,4.257 L0.001,5.790 L5.475,10.002 L13.000,1.249 Z"/%3E%3C/svg%3E');
      background-color: #4b4b4b;
      background-position: 2px 2px, 0 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.invalidMsg {
  position: relative;

  p {
    position: absolute;
    left: 0;
    @include font(.7rem, red);
  }
}

label {
  display: block;
  color: var(--labelColor);
  margin-bottom: .2rem;
  font-size: .9rem;
  
  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  span {
    @include font(.6rem, var(--lightGray));
    @media only screen and (max-width: 374px) {
      font-size: 8px;
    }
  }

  &[data-for='checkbox'] {
    font-weight: 700;
    font-size: .8rem;
    @include font(.8rem, #000, 700);

    &:last-of-type {
      margin-top: .7rem;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px var(--inputBg) inset !important;
}